body {
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: rgb(62, 92, 154);
  display: flex;
  height: 65px;
  justify-content: space-between;
}

.facebook-logo {
  border: 2px solid red;
  justify-content: center;
  background:transparent url(facebook-logo1png.png) no-repeat center;
  width: 150px;
}

.facebook-logo img {
  height: 55px;
}

.login {
  align-items: center;
  color: white;
  display: flex;
  width: 50%;
}

.email-phone , .password , .button {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
