body {
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: rgb(62, 92, 154);
  display: flex;
  height: 65px;
  justify-content: space-between;
}

.facebook-logo {
  background: transparent url('images/kindpng_440522.png') no-repeat;
  background-position: center;
  background-size: 150px;
  width: 50%;
}

.facebook-logo img {
  height: 55px;
}

.login {
  align-items: center;
  color: white;
  display: flex;
  width: 50%;
}

.email-phone , .password , .button {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.container {
  display: flex;
}

.fullName {
  display: flex;
}
